body{
    background-color: #183A37;
    color: #04151F;
}

h1{
    color: #EB6C10;
}

h2{
    color: #432534;
}

h4{
    color: #EB6C10;
}

#field-translate{
    background-color: #EFD6AC;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 1em;
}


.input-container{
    background-color: #EFD6AC;
    padding: 1em;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-left: 1em;
}

#input-translate{
    margin-left: 20px;
}

.translate-btn{
    margin-left: 20px;
}

.heading{
    margin: 20px;
}

.notable{
    background-color: #EFD6AC;
    border-radius: 8px;
    padding: 1em;
    list-style-type: none;
}

.funfacts{
    background-color: #EFD6AC;
    border-radius: 8px;
    padding: 1em;
    list-style-type: none;
}

.countrySpoken{
    background-color: #EFD6AC;
    border-radius: 8px;
    padding: 1em;
    list-style-type: none;
}