.French-heading{
    margin: 20px;
}

.French-notable{
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 1em;
    list-style-type: none;
}

.Mandarin-heading{
    margin: 20px;
}

.Mandarin-notable{
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 1em;
    list-style-type: none;
}

#field-translate{
    margin-bottom: 40px;
    margin-top: 4px;
}

#input-translate{
    margin: 20px;
}

.translate-btn{
    margin: 20px;
    margin-bottom: 100px;
}